/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/


*.classpath
*.project
*.sbtserver/
*.settings/
*.worksheet/
project/.sbtserver
project/.sbtserver.lock
project/eclipse.sbt
project/sbt-ui.sbt
